spring:
  application:
    name: backend
  datasource:
    url: "jdbc:postgresql://ep-jolly-cloud-a4kc1cxr-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
    username: neondb_owner
    password: npg_t5PbSoUa8ipW
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
